<!DOCTYPE html>
<html lang="en">
<!-- Load font awesome icons -->

<!-- Include Head -->
<%- include('./partials/head')%>

  <body>
    <!-- Header -->
    <% if (user.category_id == 2) { %>
      <%- include('../admin/partials/header') %>
    <% }else{ %>
    <%- include('./partials/header') %>
    <% } %>
      <!-- /Header -->
      <div class="management-index-background-6">
        <div class="filter-black-management">
    

        <div class="contenedor-formulario-admin">
<div class="form-admin">
  <div class="form-header">
    <h1 class="form-title">B<span>ienvenido</span> <%- user.name %>
    </h1>
  </div>
  
    <img src="/images/<%- user.avatar %> " alt="">
  
  
  <label for="nombre" class="form-label">Nombre:</label>
  <p class="form-input">
    <%- user.name %>
  </p>
  <label for="precio" class="form-label">Apellido:</label>
  <p class="form-input"><%- user.lastname %>
  </p>
  <label for="descripcio" class="form-label">Fecha de Nacimiento:</label>
  <p class="form-input">
    <%- user.date_of_birth %>
  </p>
  <label for="clase-de-vino" class="form-label">Sexo:</label>
  <p class="form-input">
    <% if (user.sex_id == 1) { %>
      Masculino
      <% } else { %>   
       Femenino
     <% } %>        
  </p>
  <label for="descuento" class="form-label">email:</label>
  <p class="form-input">
    <%- user.email %> 
  </p>
 

      <div class="container-btn-delete"><form action="/ingreso/perfil/edit" method="GET">
        <input type="submit" class="btn-edit-admin" value="Editar"></form></div>
      
</div>
</div>     
    </div></div>
        <%- include('./partials/footer') %>
      </body>

</html>