<!DOCTYPE html>
<html lang="en">
<!-- Load font awesome icons -->



  <!-- Include Head -->
  <%- include('./partials/head')%>
  <body>
  <!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->


<body style="background-color:gray;">
<div class="conteiner-index-admin">
  <h1>BIENVENIDO/A ADMINISTRADOR <span style="color: crimson;"><%= user.name.toUpperCase() %></span></h1>
</div>
<div class="avatar-usuario"><img src="/images/<%- user.avatar %> " alt=""></div>
<%- include('./partials/footer')  %> 
</body>

</html> 