<!DOCTYPE html>
<html lang="en">
<!-- Load font awesome icons -->

  <!-- Include Head -->
  <%- include('./partials/head')%>
  <body>
  <!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

<body style="background-color:gray;">
<div class="contenedor-formulario-admin">
  <form action="/admin/products/edit/<%- product.id %>?_method=PUT" method="POST" class="form-admin" enctype="multipart/form-data">
    <div class="form-header">
      <h1 class="form-title">E<span>ditar Producto</span> ID <%- product.id %> </h1>
    </div>
    <label for="title" class="form-label">Nombre:</label>
    <input type="text" id="title" class="form-input" name="title" placeholder="Nombre del producto" value="<%- product.title %> "required>
    <label for="price" class="form-label">Precio:</label>
    <input type="number" id="price" min="1" step="any" class="form-input" name="price" placeholder="Precio del producto" value="<%- product.price %>"required>
    <label for="description" class="form-label">Descripción:</label>
    <textarea class="form-textarea" name="description" id="description"
      placeholder="Breve descripción del producto" ><%- product.description %> </textarea>
    <label for="product_category_id" class="form-label">Tipo de Vino:</label>
    <select class="form-select" name="product_category_id" id="product_category_id" required>
      <option class="form-option" value="1" <%- product.product_category_id == 1 ? "selected" : null %>>Vinos Tintos</option>
      <option class="form-option" value="2"<%- product.product_category_id == 2 ? "selected" : null %>>Vinos Blancos</option>
          </select>
    <label for="discount" class="form-label">Descuento:</label>
    <select class="form-select" name="discount" id="discount" required>
      <option class="form-option" value="0"<% if (product.discount == 0) { %>selected<% } %>>Sin descuento</option>
      <option class="form-option" value="5"<% if (product.discount == 5) { %>selected<% } %>>5% OFF</option>
      <option class="form-option" value="10"<% if (product.discount == 10) { %>selected<% } %>>10% OFF</option>
      <option class="form-option" value="15"<% if (product.discount == 15) { %>selected<% } %>>15% OFF</option>
      <option class="form-option" value="20"<% if (product.discount == 20) { %>selected<% } %>>20% OFF</option>
      <option class="form-option" value="25"<% if (product.discount == 25) { %>selected<% } %>>25% OFF</option>
      <option class="form-option" value="35"<% if (product.discount == 35) { %>selected<% } %>>35% OFF</option>
    </select>
    <div class="form-checkbox"><label for="free_shipping" class="form-label">Envío gratis:</label>
      <input class="form-radio" type="checkbox" name="free_shipping" id="free_shipping" value="1" <% if (product.free_shipping ) { %>
        checked
       <% } %>>
      
      <br>
      <br>
      <div class="form-checkbox"><label for="cover_page" class="form-label">Producto en portada:</label>
        <input class="form-radio" type="checkbox" name="cover_page" id="cover_page" value="1" <% if (product.cover_page) { %>
          checked
         <% } %>>
    </div>
    <h2 class="form-title">C<span>aracterísticas</span></h2>
    <label for="varietal" class="form-label">Varietal:</label>
    <input type="text" id="varietal" class="form-input" name="varietal" placeholder="Tipo de uva" value="<%- feature.varietal %> " required>
    <label for="vintage" class="form-label">Añada:</label>
    <input type="number" id="vintage" min="1800" step="any" class="form-input" name="vintage" placeholder="Año de cosecha" value="<%- feature.vintage %>"required>
    <label for="type_of_barrel" class="form-label">Tipo de Barrica:</label>
    <input type="text" id="type_of_barrel" class="form-input" name="type_of_barrel" placeholder="Tipo de barrica" value="<%- feature.type_of_barrel %> "required>
    <label for="time_in_bottle" class="form-label">Tiempo en botella:</label>
    <input type="number" id="time_in_bottle" min="1" step="any" class="form-input" name="time_in_bottle" placeholder="Tiempo en botella" value="<%- feature.time_in_bottle %>"required>
    <label for="harvest" class="form-label">Tipo de Cosecha:</label>
    <select class="form-select" name="harvest" id="harvest" required>
      <option class="form-option" value="Manual"<%- feature.harvest=== "Manual" ? "selected" : null %> >Manual</option>
      <option class="form-option" value="Mecánica"<%- feature.harvest === "Mecánica" ? "selected" : null %>>Mecánica</option>
    </select>
    <label for="terroir" class="form-label">Terroir:</label>
    <input type="text" id="terroir" class="form-input" name="terroir" placeholder="Lugar Geográfico" value="<%- feature.terroir %> "required>
    <label for="finca" class="form-label">Finca:</label>
    <input type="text" id="finca" class="form-input" name="finca"placeholder="Finca" value="<%- feature.finca %> "required>


    <h2 class="form-title">N<span>otas de Cata</span></h2>
    <label for="color" class="form-label">Color:</label>
    <textarea class="form-textarea" name="color" id="color" placeholder="Breve descripción del producto"><%- tastingNote.color %> </textarea>
    <label for="smell" class="form-label">Aroma:</label>
    <textarea class="form-textarea" name="smell" id="smell" placeholder="Breve descripción del producto"><%- tastingNote.smell %> </textarea>
    <label for="taste" class="form-label">Sabor:</label>
    <textarea class="form-textarea" name="taste" id="taste" placeholder="Breve descripción del producto"><%- tastingNote.taste %> </textarea>








    <div class="contenedor-form-file">
      <span class="form-file">
        <input type="file" name="image" id="cargar-imagen">
      </span>
      <label for="cargar-imagen" class="form-label-file">
        <span>Cargar imagen</span>
      </label>
    </div>


    <input type="submit" class="btn-submit-admin" value="Cargar producto nuevo">


  </form>
</div>
<%- include('./partials/footer')  %> 
</body>

</html>