<!DOCTYPE html>
<html lang="en">
<!-- Load font awesome icons -->

  <!-- Include Head -->
  <%- include('./partials/head')%>
  <body>
  <!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

<body style="background-color:gray;">
  <div class="contenedor-formulario-admin">
    <form action="/admin/products/create" method="POST" class="form-admin" enctype="multipart/form-data">
      <div class="form-header">
        <h1 class="form-title">C<span>rear Producto</span></h1>
      </div>



      <label for="title" class="form-label">Nombre:</label>
      <input type="text" id="title" class="form-input" name="title" placeholder="Nombre del producto" required>



      
      <label for="price" class="form-label">Precio:</label>
      <input type="number" id="price" min="1" step="any" class="form-input" name="price" placeholder="Precio del producto" required>
      
      
      
      
      
      
      <label for="description" class="form-label">Descripción:</label>
      <textarea class="form-textarea" name="description" id="description"
        placeholder="Breve descripción del producto"></textarea>
      
      
      
      
      
        <label for="product_category_id" class="form-label">Tipo de Vino:</label>
      <select class="form-select" name="product_category_id" id="product_category_id" required>
        <% categories.forEach(category => { %>
          <option class="form-option" value="<%- category.id %> "><%- category.category %> </option>
        <% }) %>
               
     
      </select>
      
      
      
      
      <label for="discount" class="form-label">Descuento:</label>
      <select class="form-select" name="discount" id="discount" required>
        <option class="form-option" value="0">Sin Descuento</option>
        <option class="form-option" value="5">5% OFF</option>
        <option class="form-option" value="10">10% OFF</option>
        <option class="form-option" value="15">15% OFF</option>
        <option class="form-option" value="20">20% OFF</option>
        <option class="form-option" value="25">25% OFF</option>
        <option class="form-option" value="35">35% OFF</option>
      </select>
      
      
      
      
      
      
      
      <div class="form-checkbox"><label for="free_shipping" class="form-label">Envío gratis:</label>
        <input class="form-radio" type="checkbox" name="free_shipping" id="free_shipping" value="1">
        <br>
        <br>
        <div class="form-checkbox"><label for="cover_page" class="form-label">Producto en portada:</label>
          <input class="form-radio" type="checkbox" name="cover_page" id="cover_page" value="1">
      </div>
      <h2 class="form-title">C<span>aracterísticas</span></h2>
      <label for="varietal" class="form-label">Varietal:</label>
      <input type="text" id="varietal" class="form-input" name="varietal" placeholder="Tipo de uva" required>
      <label for="vintage" class="form-label">Añada:</label>
      <input type="number" id="vintage" min="1900" step="any" class="form-input" name="vintage" placeholder="Año de cosecha" required>
      <label for="type_of_barrel" class="form-label">Tipo de Barrica:</label>
      <input type="text" id="type_of_barrel" class="form-input" name="type_of_barrel" placeholder="Tipo de barrica" required>
      <label for="time_in_bottle" class="form-label">Tiempo en botella:</label>
      <input type="number" id="time_in_bottle" class="form-input" name="time_in_bottle" placeholder="Tiempo en botella" required>
      <label for="harvest" class="form-label">Tipo de Cosecha:</label>
      <select class="form-select" name="harvest" id="harvest" required>
        <option class="form-option" value="Manual">Manual</option>
        <option class="form-option" value="Mecánica">Mecánica</option>
      </select>
      <label for="terroir" class="form-label">Terroir:</label>
      <input type="text" id="terroir" class="form-input" name="terroir" placeholder="Lugar Geográfico" required>
      <label for="finca" class="form-label">Finca:</label>
      <input type="text" id="finca" class="form-input" name="finca"placeholder="Finca" required>


      <h2 class="form-title">N<span>otas de Cata</span></h2>
      <label for="color" class="form-label">Color:</label>
      <textarea class="form-textarea" name="color" id="color" placeholder="Breve descripción del producto"></textarea>
      <label for="smell" class="form-label">Aroma:</label>
      <textarea class="form-textarea" name="smell" id="smell" placeholder="Breve descripción del producto"></textarea>
      <label for="taste" class="form-label">Sabor:</label>
      <textarea class="form-textarea" name="taste" id="taste" placeholder="Breve descripción del producto"></textarea>







      <div class="file-upload">
        <input class="file-upload__input" type="file" name="image" id="myFile" >
        <button class="file-upload__button" type="button">Seleccione una imagen</button>
        <span class="file-upload__label"></span>
      </div>

      


      <input type="submit" class="btn-submit-admin" value="Cargar producto nuevo">



      


    </form>
  </div>

  <%- include('./partials/footer')  %> 
<script src="/javascripts/ButtonImage.js"></script>

</body>

</html>