<!DOCTYPE html>
<html lang="en">
<!-- Load font awesome icons -->

  <!-- Include Head -->
  <%- include('./partials/head')%>
  <body>
  <!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

<body style="background-color:gray;">


  <div class="container-product-list-admin">
   
   
   
    <% products.forEach(product => { %>
     
    
    <div class="box-product-list-admin">
      <h4>ID : <%- product.id %> </h4>
      <a href="products/<%- product.id %>"><img src="/images/<%- product.image %> " alt=""></a>
      <h4 class="form-label">Nombre</h4>
      <p class="form-input"><%- product.title %></p>
      <h4 class="form-label">Precio</h4>
      <p class="form-input">$<%- toThousand(product.price - Math.round(product.price / 100 * product.discount)) %></p>
      <h4 class="form-label">Tipo</h4>
      <p class="form-input"><% if (product.product_category_id == 1) { %>
       Tinto
       <% } else { %>   
        Blanco
      <% } %>

      
      <div class="container-btn-delete"><form action="/admin/products/edit/<%- product.id %>" method="GET">
        <input type="submit" class="btn-edit-admin" value="Editar"></form></div>
      
      <div class="container-btn-delete"><form action="/admin/products/delete/<%- product.id %>?_method=DELETE " method="POST">
        <input type="submit" class="btn-delete-admin" value="Eliminar"></form></div>

    </div>
    <% }) %>

    

    
  </div>


  <%- include('./partials/footer')  %> 
</body>

</html>