<!DOCTYPE html>
<html lang="en">
<!-- Load font awesome icons -->

<!-- Include Head -->
<%- include('./partials/head')%>

  <body>
    <!-- Header -->
    <%- include('./partials/header') %>
      <!-- /Header -->

      <body style="background-color:gray;">


        <div class="contenedor-formulario-admin">
<div class="form-admin">
  <div class="form-header">
    <h1 class="form-title">U<span>suario</span> <%- user.id %>
    </h1>
  </div>
  
    <img src="/images/<%- user.avatar %> " alt="">
  
  
  <label for="nombre" class="form-label">Nombre:</label>
  <p class="form-input">
    <%- user.name %>
  </p>
  <label for="precio" class="form-label">Apellido:</label>
  <p class="form-input"><%- user.lastname %>
  </p>
  <label for="descripcio" class="form-label">Fecha de Nacimiento:</label>
  <p class="form-input">
    <%- user.date_of_birth %>
  </p>
  <label for="clase-de-vino" class="form-label">Sexo:</label>
  <p class="form-input">
    <% if (user.sex_id == 1) { %>
      Masculino
      <% } else { %>   
       Femenino
     <% } %>        
  </p>
  <label for="descuento" class="form-label">email:</label>
  <p class="form-input">
    <%- user.email %> 
  </p>
  <label for="clase-de-vino" class="form-label">Categoría:</label>
  <p class="form-input">
    <% if (user.category_id == 1) { %>
      Usuario
      <% } else { %>   
       Administrador
     <% } %>        
  </p>
  

  <h3 class="form-title"><span>Desea convertir a </span><%- user.name.toUpperCase() %><span> en un </span><% if (user.category_id == 1) { %>
      ADMINISTRADOR
       <% } else { %>   
        USUARIO SIN PRIVILEGIOS
      <% } %>?</h3>         


<form action="/admin/userList/detail/<%- user.id %>?_method=PUT" method="POST">
      <select class="form-select" name="category_id" id="" required>
        <option class="form-option" value="<% if (user.category_id == 2){ %>1<% }else{ %>2<% } %>">SI</option>
        <option class="form-option" value="<% if (user.category_id == 2){ %>2<% }else{ %>1<% } %>" selected>NO</option>
      </select>


  

      <input type="submit" class="btn-submit-admin" value="Actualizar"></form>
      
</div>
</div>     
    
        <%- include('./partials/footer') %>
      </body>

</html>