<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>

    <body>
        <!-- Header -->
        <%- include('partials/header') %>
            <!-- /Header -->

            <div class="medios-contenedor">

                <div class="medios-sidebar">
                    <ul>
                        <h3>Tienda Online</h3>
                        <li><a href="/pages/medios-de-pago">Medios de Pago</a></li>
                        <li><a href="/pages/costos-de-envio">Costos de Envío</a></li>
                        <li><a href="/pages/tiempos-de-envio">Tiempos de envío</a></li>
                    </ul>
                    <ul>
                        <h3>Centro de Ayuda</h3>
                        <li><a href="https://www.andreani.com/#!/personas">Seguimiento de Envios</a></li>
                        <li><a href="/pages/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                        <li><a href="https://seguimiento.andreani.com">Estado del Pedido</a></li>
                        <li><span><a href="/pages/contacto">Contacto</a></span></li>

                    </ul>
                    <ul>
                        <h3>Legales</h3>

                        <li><a href="/pages/terminos-y-condiciones">Términos y Condiciones</a></li>
                    </ul>
                </div>


                <div class="medios-principal">
                    <h1>Contacto Tienda Online</h1>
                    <p>Por reclamos o consultas sobre sus compras a través la página, escríbanos a través de nuestro chat o mail de contacto.</p> <p>Si necesita comunicarse con otras áreas de la bodega, por favor, complete el formulario.</p>
                    <div class="contacto-lista">
                       <h3><i class="far fa-envelope"></i><a target="_blank" href="mailto:contacto@eclipse.com.ar"> contacto@eclipse.com.ar</a></h3>             
                      <h3><i class="fas fa-phone-alt"></i><a href="tel:0800 - 222 - 3000"> 0800 - 222 - 3000</a></h3> 
                       <h3><i class="far fa-clock"></i> Lunes a Viernes de 09:00 a 18:00hs.</h3></div>   
                      
                       <div class="contacto-contenedor-img"><img src="/images/pages/contacto.jpg" alt=""></div>

                       
                       
                       
                       <form action="/pages/contacto" id="formContact" method="POST" class="contacto-form" enctype="">
                        <div class="form-header">
                          <h1 class="form-title">D<span>ejenos su mensaje</span></h1>
                        </div>


                        <label for="" class="form-label">Nombre:</label>
                        <input type="text" id="name" class="form-input" name="name" placeholder="Nombre del producto" value="<%= typeof old != 'undefined' && old.name ? old.name : null %>" required>
                        <span id="errorNameContact" class="error-msg-contact">
                            <%= typeof erroresContacto !='undefined' && erroresContacto.name ? erroresContacto.name.msg : null %>
                          </span>




                        <label for="" class="form-label">Asunto</label>
                        <select class="form-select" name="matter_id" id="matter_id" required>
                            <option class="form-option" value="">Seleccione el Asunto</option>
                          <option class="form-option" value="1"<% if (typeof old !='undefined' && old.matter_id==1) { %>selected<% }
                            %>>Consultar al CEO</option>
                          <option class="form-option" value="2"<% if (typeof old !='undefined' && old.matter_id==2) { %>selected<% }
                            %>>Consultar al Gerente Comercial</option>
                          <option class="form-option" value="3"<% if (typeof old !='undefined' && old.matter_id==3) { %>selected<% }
                            %>>Consultar al Gerente de Marketing</option>
                          <option class="form-option" value="4"<% if (typeof old !='undefined' && old.matter_id==4) { %>selected<% }
                            %>>Otras Consultas</option>
                        </select>
                        <span id="errorMatterContact" class="error-msg-contact">
                            <%= typeof erroresContacto !='undefined' && erroresContacto.matter_id ? erroresContacto.matter_id.msg : null %>
                          </span>


                       
                        <label for="" class="form-label">Número de Telefono</label>
                        <input type="tel" id="tel" class="form-input" name="tel" placeholder="Ingrese su número de teléfono" value="<%= typeof old != 'undefined' && old.tel ? old.tel : null %>" required>
                        <span id="errorTelContact" class="error-msg-contact">
                            <%= typeof erroresContacto !='undefined' && erroresContacto.tel ? erroresContacto.tel.msg : null %>
                          </span>


                        
                        <label for="" class="form-label">Dirección de Email</label>
                        <input type="email"  class="form-input" name="mail" id="mail" placeholder="Ingrese su dirección de email" value="<%= typeof old != 'undefined' && old.mail ? old.mail : null %>" required>
                        <span id="errorMailContact" class="error-msg-contact">
                            <%= typeof erroresContacto !='undefined' && erroresContacto.mail ? erroresContacto.mail.msg : null %>
                          </span>


                        <label for="" class="form-label">Dejenos su mensaje:</label><textarea class="form-textarea" name="message" id="message"
                          placeholder="Escriba aquí su mensaje, le responderemos a la brevedad" required><%= typeof old != 'undefined' && old.message ? old.message : null %></textarea>

                          <span id="errorMessageContact" class="error-msg-contact">
                            <%= typeof erroresContacto !='undefined' && erroresContacto.message ? erroresContacto.message.msg : null %>
                          </span>


                          <% if (typeof ok != 'undefined') { %>
                            <span  class="confirm-msg-contact"> Hemos recibido su mensaje en breve responderemos sus consultas</span>
                          <% } %>


                          <input type="submit" class="btn-submit-admin" value="Enviar">


                         
                    </form>  
                
                    </div>
    
        


</div>


            </div>




            <!-- footer -->
            <%- include('partials/footer') %>
                <!-- /footer -->
                <script src="/javascripts/contactValidator.js"></script>

                
    </body>

</html>